<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
       <Socket name="Socket" host="10.10.1.8" port="20007">
         <JsonLayout compact="true" eventEol="true" />
      </Socket>
    </Appenders>
    <Loggers>
      <Root level="info">
        <AppenderRef ref="Socket"/>
      </Root>
    </Loggers>
</Configuration>